
@{
    ViewBag.Title = "OrderComplete";
}

<div class="container">

    <div class="container" style="font-weight:900;color:#fff;">
        <h2 class="text-center">Order Confirmed Successfully.</h2><br />
        @Html.Action("Progress4", "ShoppingCart")
    </div>
   
</div>

